.mapHeader {
  pointer-events: none;
  margin: 12px 35px;
  display: flex;
  position: absolute;
  .headerItem {
    margin: 0 28px;
    position: relative;
    > img {
      width: 170px;
    }
    .itemTitle {
      color: #fff;
      position: absolute;
      top: 0px;
      left: 100px;
      font-size: 14px;
    }
    .itemNumber {
      color: #fff;
      position: absolute;
      // top: 22px;
      top: 28px;
      // left: 80px;
      left: 78px;
      // font-size: 38px;
      font-size: 30px;
      font-family: 'myFamily';
      // letter-spacing: 3px;
      letter-spacing: -1px;
    }
  }
}
