.mapHeader {
  pointer-events: none;
  margin: 12px 35px;
  display: flex;
  position: absolute;
  .headerItem {
    margin: 0 28px;
    position: relative;
    > img {
      width: 170px;
    }
    .itemTitle {
      color: #fff;
      position: absolute;
      top: 0px;
      left: 100px;
      font-size: 14px;
    }
    .itemNumber {
      color: #fff;
      position: absolute;
      top: 21px;
      left: 83px;
      font-size: 36px;
    }
  }
}
