.main {
  width: 100%;
  height: 100%;
  background: url('../assets/bg.png') no-repeat;
  background-size: 100% 100%;
  .top {
    width: 100%;
    height: 12%;
    background: url('../assets/top.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    .topLeft {
      width: 27%;
      height: 80%;
      flex-grow: 0;
      display: flex;
      align-items: center;
    }
    .topMiddle {
      width: 46%;
      height: 85%;
      .title {
        font-size: 44px;
        letter-spacing: 4px;
        color: #f9f7ff;
        line-height: 82px;
        text-align: center;
      }
    }
    .topRight {
      width: 27%;
      height: 80%;
      flex-grow: 0;
      display: flex;
      align-items: center;
      // justify-content: center;
      position: relative;
      .weather {
        color: #fff;
        position: absolute;
        right: 35%;
        font-size: 18px;
      }
      .logo {
        // height: 35%;
        height: 38px;
        position: absolute;
        // right: 20%;
        left: 125px;
      }
      .runTime {
        color: #fff;
        font-size: 18px;
        position: absolute;
        left: 295px;
      }
    }
  }
  .body {
    height: 88%;
    display: flex;
    padding: 0 0 2%;
    .bodyLeft {
      margin: 0 16px;
      width: 450px;
      .leftTop {
        margin: 0 0 30px;
        background: rgba(0, 36, 84, 0.24);
        border: 2px solid #3079df;
        position: relative;
        .content {
          padding: 18px 0;
          .contentTitle {
            margin-bottom: 18px;
          }
          .tabs {
            :global {
              .ant-tabs-nav {
                padding: 0 38px;
                margin-bottom: 20px;
                height: 38px;
              }
              .ant-tabs-nav-operations {
                display: none;
              }
            }
          }
          .data {
            padding: 0 18px;
            height: 174px;
            display: flex;
            .dataBlue,
            .dataGreen,
            .dataRed {
              margin: 0 20px;
              flex-grow: 1;
              background-size: 100% 100% !important;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: calc(100% / 3);
              .text {
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                color: #ffffff;
                margin-top: auto;
                padding-bottom: 12px;
              }
            }
            .dataBlue {
              background: url('../assets/blue.png') no-repeat;
              .number {
                font-size: 32px;
                font-family: Arial, Helvetica, sans-serif;
                color: #08e3f9;
              }
            }
            .dataGreen {
              background: url('../assets/green.png') no-repeat;
              .number {
                font-size: 32px;
                font-family: Arial, Helvetica, sans-serif;
                color: #0be08b;
              }
            }
            .dataRed {
              background: url('../assets/red.png') no-repeat;
              .number {
                font-size: 32px;
                font-family: Arial, Helvetica, sans-serif;
                color: #fd5d61;
              }
            }
          }
        }
      }
      .leftBottom {
        height: calc(100% - 353px);
        background: rgba(0, 36, 84, 0.24);
        border: 2px solid #3079df;
        position: relative;
        .content {
          height: 100%;
          padding: 18px 0;
          .titleLine {
            display: flex;
            margin-bottom: 10px;
            .select {
              width: 185px;
              margin-left: auto;
              margin-right: 20px;
              :global {
                .ant-select-selector {
                  border-color: #66d7f6;
                  background: transparent;
                  color: #ffffff;
                }
                .ant-select-arrow .anticon {
                  pointer-events: none;
                }
              }
            }
          }
          .progressArea {
            padding: 0 10px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
          }
          .mapArea {
            height: calc(100% - 250px);
            padding: 0 20px;
            > div {
              height: 100% !important;
            }
          }
        }
      }
    }
    .bodyMiddle {
      margin: 0 10px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      position: relative;
      .outerMap {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .regionalMap {
          width: 900px;
          height: 700px;
          // :global{
          //   .dv-flyline-chart-enhanced{
          //     -webkit-filter: saturate(0.8);
          //     filter: saturate(0.8);
          //   }
          // }
        }
      }
      .innerMap {
        position: relative;
        .roomName {
          color: #fff;
          position: absolute;
          top: 650px;
          width: 100%;
          text-align: center;
          pointer-events: none;
          font-size: 18px;
        }
        .backIcon {
          color: #fff;
          position: absolute;
          top: 8px;
          right: 8px;
          padding: 3px;
          font-size: 18px;
          z-index: 1;
        }
      }
      .middleBottom {
        background: rgba(0, 36, 84, 0.7);
        border: 2px solid #3079df;
        width: 100%;
        position: absolute;
        bottom: 0;
        transition: height 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
        .content {
          height: 100%;
          padding: 18px 0 8px;
          display: flex;
          flex-direction: column;
          .titleLine {
            display: flex;
            align-items: center;
            .caretIcon {
              width: 24px;
              height: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              cursor: pointer;
            }
          }
          .scrollTable {
            flex-grow: 1;
            padding: 15px 20px 0;
            max-height: calc(100% - 33px);
            overflow: hidden;
          }
        }
      }
      :global {
        .g6-tooltip {
          background: #fff;
        }
      }
    }
    .bodyRight {
      margin: 0 16px;
      width: 450px;
      .rightTop {
        background: rgba(0, 36, 84, 0.24);
        border: 2px solid #3079df;
        margin: 0 0 30px;
        position: relative;
        .content {
          // height: 396px;
          padding: 18px 0;
          .tabs {
            margin: 12px 25px 0;
          }
          .wrapTab {
            :global {
              .ant-tabs-nav-list {
                // flex-wrap: wrap;
                .ant-tabs-tab {
                  padding: 2px 4px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
      .rightBottom {
        background: rgba(0, 36, 84, 0.24);
        border: 2px solid #3079df;
        height: calc(100% - 406px);
        position: relative;
        .content {
          height: 100%;
          padding: 18px 0;
          .titleLine {
            display: flex;
            margin-bottom: 20px;
          }
          // .contentTitle {
          //   margin-bottom: 30px;
          // }
          .historyArea {
            height: calc(100% - 53px);
            padding: 0 24px 0 32px;
            > div {
              height: 100% !important;
            }
          }
        }
      }
    }

    .contentTitle {
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #4bf3f9;
      line-height: 33px;
      display: flex;
      align-items: center;
      margin-left: 20px;
      &::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 24px;
        background: #4fc7e1;
        margin-right: 10px;
        border-radius: 2px;
      }
    }
  }
  .tab {
    :global {
      .ant-tabs-nav::before {
        display: none;
      }
      .ant-tabs-nav-list {
        background: #0e2b68;
        border-radius: 4px;
        width: 100%;
        .ant-tabs-tab {
          margin: 0 !important;
          border: 0;
          font-size: 16px;
          background: transparent;
          color: #90a0c0;
          font-weight: 400;
          padding: 6.5px 8px;
          border-radius: 4px;
          flex-grow: 1;
          display: inline-flex;
          justify-content: center;
        }
        .ant-tabs-tab:not(.ant-tabs-tab-active):hover {
          color: #fff;
        }
        .ant-tabs-tab.ant-tabs-tab-active {
          background: #3aa3ff;
          font-weight: 500;
          .ant-tabs-tab-btn {
            color: #ffffff;
          }
        }
        .ant-tabs-tab-btn:focus,
        .ant-tabs-tab-remove:focus {
          color: unset;
        }
      }
    }
  }
  .radioButton {
    margin: auto 0 auto 20px;
    :global {
      .ant-radio-button-wrapper {
        box-shadow: none !important;
        background: #0e2b68;
        border-color: #0e2b68;
        color: #90a0c0;
      }
      .ant-radio-button-wrapper:first-child {
        border-radius: 4px 0 0 4px;
      }
      .ant-radio-button-wrapper:last-child {
        border-radius: 0 4px 4px 0;
      }
      .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked):hover {
        color: #fff;
      }
      .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
        background: #3aa3ff;
        border-color: #3aa3ff;
        color: #fff;
      }
    }
  }
}

.pointer {
  > canvas {
    cursor: pointer !important;
  }
}

.loading {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  :global {
    .ant-spin-text {
      color: #fff;
    }
  }
}
.loading.loadingActive {
  display: flex;
  background: rgba(204, 204, 204, 1);
}
.loading.loadingUnactive {
  display: none;
}
